/* GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-top: 3rem;
    color: #5a5a5a;
  }
  
h5,h6{
    margin-bottom:0;
} 

footer {
    height: 70px;
    background-color: #F2E7D1;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
}
  
  .content { 
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: calc(100vh - 402px);
}


/* Nav-bar changes ----------------------- */

.navbar-custom { 
    background-color: #A63962; 
} 

.navbar-custom .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.3);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #b47a05;
}

.activated {   
    color: #e2b55c;
}



/* Banner changes ----------------------- */
.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
    background-color: #F2E7D1;
    color: #A63962;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron p {
    font-size: 1.5rem;
    font-weight: normal;
}

/* Cards on home page
-------------------------------------------------- */

.cards-home {
    margin-top: 3rem;
}
.cards-home .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.cards-home h2 {
font-weight: 400;
}
.cards-home .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}
  
/* Featurettes about us
------------------------- */

.featurette-divider {
    margin: 2.5rem 0; 
  }
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
