/* GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-top: 3rem;
    color: #5a5a5a;
  }
  
h5,h6{
    margin-bottom:0;
} 

footer {
    height: 56px;
    background-color: #A63962;
    color: white;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
}
footer a
{
    color: #e2b55c;
}

footer a:hover
{
    color: #b47a05;
}
.contact{
    
    background-color: #F2E7D1;
    height:175px;
    width:100%;
    margin-bottom: 0;
}

.content { 
      
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: calc(100vh - 563px);
}

.btn-custom {
    background-color: #A63962;
    color:white;
}

/* Cards on FAQ ----------------------- */
.card{
    border:0;
    margin:15px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.card-header{
    background-color: #A63962;
}

.card .btn-link
{
    color:white;
}


/* Nav-bar changes ----------------------- */

.navbar-custom { 
    background-color: #A63962; 
} 

.navbar-custom .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.3);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #b47a05;
}

.activated {   
    color: #e2b55c;
}



/* Banner changes ----------------------- */
.jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
    background-color: #F2E7D1;
    color: #A63962;
    font-weight: bold;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}



.jumbotron p {
    font-size: 1.5rem;
    font-weight: normal;
}

.header {
    max-width: 100%;
}

.bannertitle {
    margin: auto;
}

.bannerimage{
    top: 55px;
    right: 200px;
}

/* Cards on home page
-------------------------------------------------- */

.cards-home {
    margin-top: 3rem;
}
.cards-home .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.cards-home h2 {
font-weight: 400;
}
.cards-home .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}
  
/* Featurettes about us
------------------------- */

.featurette-divider {
    margin: 2.5rem 0; 
  }
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
  
/* Images
------------------------- */

.img-informatie-shildklier
{
    float: right;
    margin-right: 50px
}

.img-informatie-hartworm
{
    margin-left:auto;
    margin-right:auto;
    display: block;
}

/* Tables
------------------------- */
table{
    margin-top: 20px;
    margin-top: 40px;
    width: 70%;
}
@media only screen and (max-width: 930px) {
    table{
        width: 80%;
    }
  }
  @media only screen and (max-width: 690px) {
    table{
        width: 100%;
    }
  }
th, td {
    padding: 10px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ccc;
}

th:first-child{
    width: 70%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}