/*
hr{
    border-style: dotted;
    border-width: 10pt 0 0 0;
    width: 10%;
}
img{
    margin:1%;
}

#title-logo{
    height: 35pt;
    margin-right: .5rem;
}
.menubar{
    background-color: #343232;
}
.navbar-dark .navbar-nav .nav-link{
    color:white
}
.promo-item{
    text-align: center;
    background-color: #656565;
    padding: 2% 10%;
    color: white;
    height: 450pt;
}
.promo-item img{
    max-height: 25rem;
    max-width: 100%;
    width: auto;
    margin:.25em;
}
.promo-item td{
    padding: 2.5%;
}

*/



/*text section
.text{
    text-align: center;
    min-height: 550pt;
    background-color: #fcfcfc;
    padding: 2% 8%;
    margin-bottom: 2%;
    
}
.index{
    padding: .5%;
    display: block; 
    max-width: 500pt;
    width: 80%;
    border-color: black;
    border-style: solid;
    border-width: 0 0 0 1pt;
    margin-top: 2%;
}
.sources{
    font-style: italic;
}

.programmer{
    margin-top: 2%
}
.programmer img{
    text-align: right;
    margin-right:0;
    height: 10rem;
}

.theory{
    text-align: left;
}

/*footer section
.footer{
    text-align: center;
    background-color: #66679C;
    color: white;
    padding: 50pt 50pt 10pt;
}
.footer button{
    margin-bottom: 50pt;
}

*/


label {
    font-weight: bold;
    font-size: 16px;
  }
  
  #submit_button {
    background-color: #B22222;
    height: 30px;
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  input, textarea {
    background-color: #D3D3D3;
    color: #2F4F4F;
    width: 250px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 2px 2px #696969;
  }